.paginaLista {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 120px;
}

.listaFilmes {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

.linhaPesquisa {
    display: flex;
    width: 80%;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
}

.fileira { 
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    padding: 40px 0;
    gap: 60px;
    margin: 0 auto;
    width: 100%;
    align-items: start; 
}

.gridFilmes {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}