.menuHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20rem;
    color: var(--branco);
    background-color: var(--roxo-escuro);
    padding-top: 20px;
}

.menuSection {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.menuSection ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    padding: 0;
    
    justify-content: center;
}

.menuSection li {
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
}

.menuSection input {
    background: rgba(217, 217, 217, 0.2);
    color: var(--branco);
    outline: none;
    border: 1px solid var(--branco);
    border-radius: 20px;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    padding: 5px;
}

.menuSection input::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 12px;
    padding-left: 5px;
}