.menuHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 110px 10px 110px;
    background: transparent;
    color: var(--branco);
}

.menuHeader h1 a {
    text-decoration: none;
    color: var(--branco); /* Cor de destaque (Netflix-like) */
    font-size: 1.8rem;
}

.menuSection {
    display: flex;
    align-items: center;
    gap: 50px;
}

.menuLinks {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.menuLinks a, .menuItens a {
    color: var(--branco);
    text-decoration: none;
    transition: color 0.3s;
}

.menuLinks a:hover, .menuItens a:hover {
    color: var(--azul);
}

.menuItens {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.logoHeader {
    height: 90px; /* Ajuste conforme necessário */
    width: auto;
}

/* --- Estilos do Dropdown de Perfil --- */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.dropbtn:hover {
    background-color: #333;
}

.conteudoDropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10; /* Garante que fique acima de outros elementos */
    border-radius: 4px;
    overflow: hidden;
}

.conteudoDropdown a,
.conteudoDropdown button {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.conteudoDropdown a:hover,
.conteudoDropdown button:hover {
    background-color: #555;
}

/* Mostra o menu suspenso quando o mouse passa sobre o contêiner dropdown */
.dropdown:hover .conteudoDropdown {
    display: block;
}

.logout-button {
    color: #e50914 !important; /* Destaca o botão de sair */
}