.cardCategoria {
    padding: 50px;
    width: 250px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    background: rgba(236, 89, 178, 10);
    background: linear-gradient(180deg,rgba(236, 89, 178, 0.97) 0%, rgba(236, 89, 178, 0.2) 100%);
    color: var(--branco);
    transition: all 0.5s ease;
    cursor: pointer;
}

.cardCategoria h1{
    font-size: 30px;
    font-weight: 400;
}

.cardCategoria:hover {
    transform: scale(1.1);
}