.SliderFilmes {
    max-width: 1200px;
    margin: 60px auto 40px auto; 
    padding: 0 10px; 
    position: relative;
    color: var(--branco);
}

.tituloSlider {
    font-size: 40px;
    text-transform: uppercase;
    border-bottom: 2px solid var(--branco);
    text-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;;
    padding-bottom: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.info {
    margin-top: 10px;
}

.info p:first-child {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.info p:last-child {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

.carrosselSlick {
    padding-top: 20px;
    padding-bottom: 20px;
}

.carrosselSlick .slick-slide {
    padding: 0 10px;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: scale(0.85); 
    filter: brightness(0.65); 
    opacity: 0.85;
}

.carrosselSlick .slick-center {
    transform: scale(1);
    filter: brightness(1);
    opacity: 1;
}

.slideItemWrapper {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 5px; 
}

.slick-prev:before, .slick-next:before {
    display: none;
}

.slick-dots li button:before {
    color: transparent !important; 
    opacity: 0.5 !important;
}
.slick-dots li.slick-active button:before {
    color: var(--azul) !important; 
    opacity: 1 !important;
}