.menuHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20rem;
    color: var(--branco);
    padding-top: 30px;
    font-family: Poppins, sans-serif;
}

.menuSection {
    display: flex;
    gap: 50px;
    align-items: center;
}

.menuSection ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    margin: 0;
    justify-content: center;
}

.menuSection li {
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
}

