.cardFilme {
    display: flex;
    flex-direction: column;
    transition: all 0.3 ease;
    cursor: pointer;
}

.cardPoster {
    width: 300px;
    height: 430px;
    transition: all 0.5s ease;
    box-shadow: rgba(236, 89, 178, 0.35) 0px 5px 15px;
}

.cardPoster img {
    height: 425.5px;
    border-radius: 15px;
}

.infoFilme h1 {
    color: var(--branco);
    font-size: 25px;
    font-weight: 600;
    width: 300px;
}

.infoFilme p {
    color: var(--branco);
    font-size: 20px;
    font-weight: 200;
    margin-top: -5px;
}

.cardPoster:hover {
    transform: scale(1.05);
}