.carouselDestaqueContainer {
    padding: 60px 0; 
    background-color: var(--roxo-escuro-fundo); 
    max-width: 100%;
    overflow: hidden; 
}

.sliderDestaque .slick-slide:not(.slick-center) .cardCarrossel {
    transform: scale(0.8) !important; 
    filter: brightness(0.2) !important;
    opacity: 0.7 !important; 
    transition: all 0.6s ease-in-out; 
    max-width: 1200px !important; 
    height: 550px !important; 
    z-index: 10;
}

.sliderDestaque .slick-center .cardCarrossel {
    transform: scale(1) !important; 
    filter: brightness(1) !important;
    opacity: 1 !important;
}

.slick-prev:before, .slick-next:before {
    display: none !important;
}

.slick-prev, .slick-next {
    width: 70px; 
    height: 70px; 
    z-index: 100;
}

.arrow-icon svg {
    width: auto !important;
    height: auto !important;
}

.arrow-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-weight: bold;
    color: var(--branco);
    background-color: rgba(44, 33, 73, 0.7); 
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(75, 203, 222, 0.5), 0 0 20px rgba(236, 89, 187, 0.5);
    transition: all 0.3s ease;
}

.arrow-icon:hover {
    transform: scale(1.1);
    background-color: var(--roxo-escuro-fundo);
}

.slick-dots li button:before {
    margin-top: 25px;
    font-size: 15px;
    -webkit-text-stroke: 1px var(--branco); 
    opacity: 1 !important;
    text-shadow: var(--branco) 0px 0px 5px;
}
.slick-dots li.slick-active button:before {
    margin-top: 25px;
    font-size: 15px;
    color: var(--azul) !important;
    -webkit-text-stroke: transparent !important; 
    opacity: 1 !important;
}