.cardCarrossel {
    display: flex !important; 
    align-items: center;
    justify-content: center; 
    width: 100%; 
    max-width: 1050px; 
    height: 520px; 
    margin: 0 auto;
    position: relative;
    border-radius: 20px; 
    overflow: hidden; 
    background-color: var(--roxo-escuro-fundo);
    cursor: pointer;
    transition: all 0.6s ease-in-out;
}

.posterFigure {
    width: 330px; 
    height: 100%;
    flex-shrink: 0; 
    overflow: hidden;
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px;
    box-shadow: rgba(254, 121, 201, 0.80) 0px 0px 15px;
}

.posterFilme {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.infoCardCarrossel {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border: 2px solid var(--branco);
    border-left: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    max-width: 470px; 
    padding-top: 40px;
    height: 400px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.6s ease-in-out; 
    box-shadow: rgba(254, 121, 201, 0.80) 0px 0px 27px;
}

.cardCarrossel.ativo {
    box-shadow: 0 0 10px var(--azul), 0 0 20px var(--rosa); 
}

.infoFilme { 
    font-size: 15px;
    font-weight: 300;
    color: var(--rosa-claro); 
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.tituloFilme {
    font-size: 28px;
    font-weight: 600;
    color: var(--branco);
}

.divisorCarrossel {
    border: 1.2px solid var(--branco);
    height: 1px;
    width: 90%;
    margin: 10px 0 10px 0;
    background-color: var(--branco);}

.sinopseFilme {
    font-size: 16px;
    font-weight: 250;
    color: var(--branco); 
    padding-top: 10px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
