.paginaHome {
    width: auto;
    background-color: var(--roxo-medio-escuro);
    display: flex;
    flex-direction: column;
}

#tituloHome {
    margin-top: 60px;
}

.fileiraCard {
    display: flex;
    padding: 60px;
    gap: 6rem;
    align-items: center;
    justify-content: center;
}

.conteudoHome {
    background: linear-gradient(90deg,rgba(40, 26, 75, 1) 15%, rgba(75, 60, 113, 1) 50%, rgba(40, 26, 75, 1) 85%);
    height: auto;
    padding-top: 100px
}

.categorias {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    gap: 25px;
}

.categorias h3 {
    color: var(--branco);
    font-weight: 400;
    font-size: 30px;
}

.fileiraCategorias {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}



